.first-section {
  background-color: var(--light-grey-color);
}
.HeroSecion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5em 3em;
  margin-top: 6vh;
  margin-bottom: 6vh;
}
.hero-section-description .hero-section-title {
  font-size: 4em;
}
.hero-section-description .hero-section-text {
  color: var(--grey-color);
  max-width: 52%;
  margin: 2em 0;
}
.hero-section-description .hero-section-cta {
  margin-bottom: 10em;
}
.hero-section-description .hero-section-links {
  display: flex;
  color: var(--grey-color);
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 3em;
}
.hero-section-description .hero-section-links .hero-section-link a {
  color: var(--grey-color);
}
.hero-section-description .hero-section-links .hero-section-link:nth-child(2) {
  margin: 0 3em;
}
.hero-section-bicycle .bicycle {
  display: flex;
  z-index: 10;
  position: relative;
  top: 12vh;
  right: 8vw;
}
.hero-section-bicycle .bicycle img.bicycle-image {
  width: 75%;
}
.hero-section-bicycle .bicycle .bicycle-details .bicycle-name {
  color: var(--grey-color);
}
.hero-section-bicycle .bicycle .bicycle-details .bicycle-price {
  color: var(--primary-color);
  margin-top: 0.4em;
}
.buttons-wrapper {
  background-color: var(--black-color);
  color: white;
  min-width: 50vw;
  min-height: 40vh;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
}
.buttons-wrapper > div {
  margin: 3em;
  display: flex;
  align-items: center;
}
.buttons-wrapper > div > img {
  width: 28px;
  height: 13px;
}
.buttons-wrapper .next {
  margin-left: 15vw;
}
.buttons-wrapper .next .next-text {
  margin-right: 8px;
}
.buttons-wrapper .next .next-vector {
  transition: transform 0.3s ease-in-out;
}
.buttons-wrapper .next:hover .next-vector {
  transform: translateX(8px);
}
.buttons-wrapper .prev .prev-text {
  margin-left: 8px;
}
.buttons-wrapper .prev .prev-vector {
  transition: transform 0.3s ease-in-out;
}
.buttons-wrapper .prev:hover .prev-vector {
  transform: translateX(-8px);
}
