.Navbar{
    display: flex;
    justify-content: space-between;
    padding: 1.5em;
    position: relative;
}
.Navbar ul.nav-links{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.Navbar ul.nav-links li.nav-link{
    margin: 0 2em;
    /* font-size: 18px; */
    font-weight: 600;
    color: var(--grey-color);
    cursor: pointer;
}
.Navbar ul.nav-links li.nav-link.active{
    color: var(--black-color);
}
.Navbar ul.nav-links li.nav-link:last-child{
    margin-right: 0;
}
.Navbar ul.nav-links li.nav-link:first-child{
    margin-left: 0;
}
.Navbar .nav-logo{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);    
    color: var(--primary-color);
}
.Navbar .nav-search{
    border: 1px solid var(--black-color);
    border-radius: 4px;
    padding: .5em 1em;
}
.Navbar .nav-search .nav-search-input{
    outline: none;
    border: none;
}
.Navbar .nav-search .nav-search-button{
    background-color: var(--black-color);
    color: white;
    padding: .5em 2em;
    border-radius: 4px;
}