:root{
  --primary-color: #F37656;
  --black-color: #0C1310;
  --grey-color: #8a8a8a;
}
*{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;

}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: var(--black-color);
}
a{
 text-decoration: none;
}
.btn{
  padding: .5em 2em;
  border-radius: 4px;
}
.orange-btn{
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: .5em 1.5em;
}
.first-section{
  min-height: 100vh;
  position: relative;
}
